.vs/
/build/
/dist/
*.exe
!/tools/bob/bob.exe
*.ilk
*.pdb
*.obj
*.log
*.deb
*.nesstate
*.sublime-workspace

*.dump
*.log

# Runtime and local development data.
/data/debugger.cfg
/data/*.orbiter
/data/*.gif
/data/roms/
/data/saves/
/data/dev/
/data/test_files/
*.nes
*.NES
*.zip
*.7z
*.sublime-project
